<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<div class="card" [routerLink]="['/publications']">
			<div class="container">
				<h3><b>Publications  </b>
					<span class="badge">{{publicationCount}}</span>
				</h3>
				<p>Publication list</p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card " [routerLink]="['/clients']">
			<div class="container">
				<h3><b>Clients  </b>
					<span class="badge">{{clientCount}}</span>
				</h3>
				<p>Client list</p>
			</div>
		</div>
	</div>
</div>