<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class='panel-body'>
         <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Language</th>
                        <th>% Advertisments</th>
                        <th>% Classifieds</th>
                        <th>Active</th>
                     </tr>
                </thead>
                <tbody>
                   <tr>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Language</td>
                        <td>% Advertisments</td>
                        <td>% Classifieds</td>
                        <td>Active</td>
                     </tr>
                      <tr>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Language</td>
                        <td>% Advertisments</td>
                        <td>% Classifieds</td>
                        <td>Active</td>
                     </tr>
                      <tr>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Language</td>
                        <td>% Advertisments</td>
                        <td>% Classifieds</td>
                        <td>Active</td>
                     </tr>
                      <tr>
                        <td>Name</td>
                        <td>Type</td>
                        <td>Language</td>
                        <td>% Advertisments</td>
                        <td>% Classifieds</td>
                        <td>Active</td>
                     </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>