<div *ngIf="appState == 'default'">
    <h3>Add Todo</h3>
    <form (submit)="addTodo()">
        <input class="form-control" type="text" [(ngModel)]="text" name="text" />
    </form>
</div>

<div *ngIf="appState == 'edit'">
    <h3>Edit Todo</h3>
    <form (submit)="updateTodo()">
        <input class="form-control" type="text" [(ngModel)]="text" name="text" />
    </form>
</div>

<h3>Todo List</h3>
<!-- <ul>
    <li *ngFor="let item of todos | async">
        <input type="text" #updatetext [value]="item.$value" />
        <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
        <button (click)="deleteItem(item.$key)">Delete</button>
    </li>
</ul> -->

<ul class="list-group">
    <li *ngFor="let todo of todos |async" class="list-group-item">
        <span #updatetext (click)="editTodo(todo.$key,todo.text)"> {{todo.text}}
        <span data-toggle="tooltip" title="Delete">
          <button style="float: right;" class="btn btn-danger btn-xs" data-title="Delete" (click)="deleteTodo(todo.$key)">
                      <span class="glyphicon glyphicon-trash"></span>
        </button>
        </span>
        </span>
    </li>
</ul>