<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{pageTitle}}</h3>
	</div>

	<div class="panel-body">
		<am-publicationDetail [selectedPublication]='selectedPublication'></am-publicationDetail>
		<table class="table table-hover table-striped" *ngIf="clients && clients.Length!==0">
			<thead>
				<tr>
					<th>Client Name </th>
					<th>MobileNumber </th>
					<th>Type</th>
					<th>Address</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let client of clients; " (click)="onRowClick(client)">
					<td> {{client.FirstName}} {{client.MiddleName}} {{client.LastName}}</td>
					<td> {{client.MobileNumber}}</td>
					<td> {{client.TypexCD}}</td>
					<td>
						{{client.Address}}
					</td>
					<td>
						<ct-activeRecord [isActiveRecord]='client.IsActiveRecord'></ct-activeRecord>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>