<!--<nav class="navbar navbar-default " role="navigation">
	<a class="navbar-brand" href="#">{{pageTitle}}</a>
	<ul class="nav navbar-nav">
		<li class="active">
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Publications</a>
		</li>
	</ul>
</nav>

<am-publicationList></am-publicationList>-->
<!--<ul>
	<li>5 <ct-star [rating]=5></ct-star>
	</li>
	<li> 4.5 <ct-star [rating]=4.5></ct-star>
	</li>
	<li> 4 <ct-star [rating]=5></ct-star>
	</li>
	<li>3.5 <ct-star [rating]=3.5></ct-star>
	</li>
	<li>3 <ct-star [rating]=3></ct-star>
	</li>
	<li>2.5 <ct-star [rating]=2.5></ct-star>
	</li>
	<li>2 <ct-star [rating]=2></ct-star>
	</li>
	<li>1.5 <ct-star [rating]=1.5></ct-star>
	</li>
	<li>1 <ct-star [rating]=1></ct-star>
	</li>
	<li>0.5 <ct-star [rating]=0.5></ct-star>
	</li>
</ul>-->

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
		</tr>
	</tbody>
</table>



	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Rating</th>
				<th>Stars</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>5</td>
				<td ><ct-star [rating]=5></ct-star></td>
			</tr>
			<!--<tr>
				<td>4.5</td>
				<td ><ct-star [rating]=4.5></ct-star></td>
			</tr>-->
			<tr>
				<td>4</td>
				<td ><ct-star [rating]=4></ct-star></td>
			</tr>
			<tr>
				<td>3</td>
				<td ><ct-star [rating]=3></ct-star></td>
			</tr>
			<tr>
				<td>2</td>
				<td ><ct-star [rating]=2></ct-star></td>
			</tr>
			<tr>
				<td>1</td>
				<td><ct-star [rating]=1></ct-star></td>
			</tr>
		</tbody>
	</table>


<div><ct-star [rating]=1></ct-star></div>