<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{pageTitle}}</h3>
	</div>

	<div class="panel-body">

		<table class="table table-hover table-striped" *ngIf="publications && publications.Length!==0">
			<thead>
				<tr>
					<th>Name </th>
					<th>Type </th>
					<th>Language</th>
					<th>Ratings</th>
					<th>Active</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let publication of publications; " >
					<td><a [routerLink]="['/publication',publication.ID]">
					 {{publication.Name}}
					 </a>
					 </td>
					<td> {{publication.TypexCD}}</td>
					<td> {{publication.LanguagexCD}}</td>
					<td>
						<ct-star [rating]='publication.Ratings' (ratingClicked)='onRatingClicked($event)'></ct-star>
					</td>
					<td>
						<ct-activeRecord [isActiveRecord]='publication.IsActiveRecord'></ct-activeRecord>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>