<div>
	<h1> {{pageTitle}}</h1>
	<hr>
</div>
<div *ngIf="selectedPublication">

Details of <span [style.color]="fontColor"> {{selectedPublication.Name}}</span>
<br/>
<label>Publication : </label><input [(ngModel)]="selectedPublication.Name" placeholder="Publication Name" />
<label>Type</label>{{selectedPublication.TypexCD}}
<br/>
</div>
<label>Publication List</label>
<div>
	<table *ngIf="publications && publications.Length!==0">
		<thead>
			<tr>
				<th>Name </th>
				<th>Type </th>
				<th>Language </th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let publication of publications;let i=index; let isEven=even;let isOdd=odd;trackBy publication?.id" 
			[ngClass]="{'odd':isOdd ,'even':  isEven}"
			(click)="onRowClick(publication)">
				<td> {{publication.Name}}</td>
				<td>| {{publication.TypexCD}}</td>
				<td>| {{publication.LanguagexCD}}  {{isEven}}</td>
			</tr>
		</tbody>
	</table>
</div>