<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Publications</h3>
	</div>
	<div class="panel-body">
		<div>
			<div *ngIf="selectedPublication">

				Details of <span [style.color]="fontColor"> {{selectedPublication.Name}}</span>
				<div>
					<label>Publication : </label>
					<input [(ngModel)]="selectedPublication.Name" placeholder="Publication Name" />
				</div>
				<div>
					<label>Type : </label>{{selectedPublication.TypexCD}}
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-hover table-striped" *ngIf="publications && publications.Length!==0">
					<thead class="thead-inverse">
						<tr>
							<th>Name </th>
							<th>Type </th>
							<th>Language </th>
							<th>Active<th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let publication of publications;let i=index; "
							(click)="onRowClick(publication)">
							<td> {{publication.Name}}</td>
							<td> {{publication.TypexCD}}</td>
							<td> {{publication.LanguagexCD}}</td>
							<td> {{publication.IsActiveRecord}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>